<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
    <title>About</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Habit Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('profile')}}">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-dark bg-primary">About Us</h1>
    <p>Here are the student IDs of our group members:</p>
    <ul>
        <li><span>Divyanshu Brijesh Singh</span>Student ID: 24322871</li>
        <li><span>Erdenezaya Batnasan</span>Student ID: 24448191</li>
        <li><span>Fiona Wei</span>Student ID: 24610193</li>
        <li><span>Siqi Shen</span>Student ID: 24117655</li>
    </ul>
</body>
</html>